<MarketplaceDetails>
  <SmallAppTile>Background.99.99.png</SmallAppTile>
  <LargeAppTile>Background.png</LargeAppTile>
  <PCAppTile>Background.200.200.png</PCAppTile>
  <ScreenShots>THC.Main.png;THC.History.png;THC.StartingHands.Selection.png;THC.StartingHands.png;THC.StartingHands.Description.png;THC.Settings.png;THC.About.png;THC.Stats.png;</ScreenShots>
</MarketplaceDetails>